html, body {
  height: 100%;
}

/* Add the below transitions to allow a smooth color change similar to lyft */ 
@keyframes hideNavbar {
  0% {background-color: #343a40;}
  100% {background-color: #ffffff00;}
}

@-webkit-keyframes hideNavbar {
  0% {background-color: #343a40;}
  100% {background-color: #ffffff00;}
}

@font-face {
  font-family: "CHILLER";
  src: url("/fonts/CHILLER.ttf");
}

.logo {
  font: 40px "CHILLER";
}

.hideNav {
  animation-name: hideNavbar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.displayNav {
  animation-name: hideNavbar;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}


.header-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover
}
#bgimg-1 {
  background-image: url("/images/product/bottle.jpg");
}

#bgimg-2 {
  background-image: url("/images/product/pink-flower.jpg");
}

#bgimg-3 {
  background-image: url("/images/tianjin.jpg");
}
#index-div-1 {
  background-color: #cfffd4;
}
#index-div-2 {
  background-color: #85a3b6;
}
#index-div-3 {
  background-color: #cfffd4;
}
#index-img-1 {
  width: 400px;
  height: 400px;
}

#index-img-2 {
  width: 400px;
  height: 400px;
  alt: initial;
}
.mask {
  /* background: rgba(0, 0, 0, 0.25); */
  background: rgba(255, 255, 255, 0.5);
}
.index-container {
  height: 60%;
  width: 80%;
  /*margin: 10% 20% 10% 20%;*/
}

footer {
  height:70px;
}